rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access for all collections for application server and client integration
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
